body{
    background-color: aliceblue;
    height: 20000px;
}
.navbar {background-image: linear-gradient(135deg, #94a8ff 0%, #8539d1 100%);
}
#scroll-to-top{
    display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #93a7fe; /* Set a background color */
  color: #8640d4; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; 
  font-size: 18px; 
  box-shadow: 5px 3px 6px 0px rgba(0,0,0,0.78);
}
#scroll-to-top:hover {
    background-color: rgb(13, 64, 183); 
  }
.white{
    color:white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    #scroll-to-top{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}